apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-storage
  namespace: default
  labels:
    app: minio-storage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio-storage
  template:
    metadata:
      labels:
        app: minio-storage
    spec:
      containers:
      - name: minio
        image: minio/minio
        args: ["server", "/data", "--console-address", ":9001"]
        ports:
        - containerPort: 9000
        - containerPort: 9001
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 1Gi
        env:
        - name: MINIO_ROOT_USER
          value: "minioadmin"
        - name: MINIO_ROOT_PASSWORD
          value: "minioadmin"
        volumeMounts:
        - name: minio-data
          mountPath: /data
      volumes:
      - name: minio-data
        emptyDir: {} # Use PVC for production, ephemeral for dev/testing
---
apiVersion: v1
kind: Service
metadata:
  name: minio-storage
  namespace: default
spec:
  ports:
  - port: 9000
    name: api
  - port: 9001
    name: console
  selector:
    app: minio-storage
