apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sketchtocad
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/AJ662/SketchToCad-Micro-Services.git
    targetRevision: HEAD
    path: kubernetes
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
