apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: default
  labels:
    app: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      enableServiceLinks: false
      containers:
      - name: api-gateway
        image: 654654387729.dkr.ecr.eu-west-1.amazonaws.com/sketchtocad/api-gateway:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: common-config
        env:
        - name: PORT
          value: "8000"
        - name: MINIO_ENDPOINT
          value: "http://minio-storage:9000"
        - name: MINIO_ACCESS_KEY
          value: "minioadmin"
        - name: MINIO_SECRET_KEY
          value: "minioadmin"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: default
spec:
  type: NodePort  # Required by GKE Ingress
  ports:
  - port: 8000
    targetPort: 8000
    name: http
  selector:
    app: api-gateway
