apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: default
  labels:
    app: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      enableServiceLinks: false
      containers:
      - name: api-gateway
        image: gcr.io/treesandshrubsoftheworld/api-gateway:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: common-config
        env:
        - name: PORT
          value: "8000"
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: default
spec:
  type: LoadBalancer # Or NodePort for local, Ingress in prod
  ports:
  - port: 8000
    targetPort: 8000
    name: http
  selector:
    app: api-gateway
